ClteTiendaOnline_Estad/xml-resources/web-service-references/ServicioEstadisticas/wsdl/localhost_8080/ServicioEstadisticas/ServicioEstadisticas.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://wsEstadisticas/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsEstadisticas/">

<xs:element name="blnReset" type="tns:blnReset"/>

<xs:element name="blnResetResponse" type="tns:blnResetResponse"/>

<xs:element name="datosClientes" type="tns:datosClientes"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="lapsoAlInicioEnMillis" type="tns:lapsoAlInicioEnMillis"/>

<xs:element name="lapsoAlInicioEnMillisResponse" type="tns:lapsoAlInicioEnMillisResponse"/>

<xs:element name="quienSoy" type="tns:quienSoy"/>

<xs:element name="quienSoyResponse" type="tns:quienSoyResponse"/>

<xs:element name="resultadosEstadisticas" type="tns:resultadosEstadisticas"/>

<xs:element name="resultadosEstadisticasResponse" type="tns:resultadosEstadisticasResponse"/>

<xs:complexType name="quienSoy">
<xs:sequence>
<xs:element name="servicio" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="quienSoyResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datosClientes">
<xs:sequence>
<xs:element name="servicio" type="xs:int"/>
<xs:element name="sumaNormal" type="xs:long"/>
<xs:element name="sumaCuadrados" type="xs:long"/>
<xs:element name="minDeltaTiempo" type="xs:long"/>
<xs:element name="maxDeltaTiempo" type="xs:long"/>
<xs:element name="numTransacciones" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lapsoAlInicioEnMillis">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="lapsoAlInicioEnMillisResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="blnReset">
<xs:sequence>
<xs:element name="lapsoEnSegundos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="blnResetResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resultadosEstadisticas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="resultadosEstadisticasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>